<h4>{{ article.title }}</h4>
<span class="metadata">
    <span class="metadata-authors">{{ article.authors|join(', ') }}</span>
    <span class="metadata-date">{{ article.locale_date|capitalize }}</span>
{% if article.tags %}
    <span class="metadata-tags">{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}</span>
{% endif %}
</span>

{% if article.summary %}
<p>
{{ article.summary }}
{% if article.summary != article.content %}
<span class="readmore"><a href="{{ SITEURL }}/{{ article.url }}">read more</a></span> 
{% endif %}
</p>
{% endif %}

<hr/>