{% extends "_base.html" %}

{% block pagetitle %}{{ article.title }} — {{ article.category|capitalize }}{% endblock %}

{% block body %}
<h1>{{ article.title }}</h1>

<span class="metadata">
    <span class="metadata-authors">{{ article.authors|join(', ') }}</span>
    <span class="metadata-date">{{ article.locale_date|capitalize }}</span>
{% if article.tags %}
    <span class="metadata-tags">{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}</span>
{% endif %}
</span>

<p>
{{ article.content }}
</p>
{% endblock %}